root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
indent_size = 4
insert_final_newline = true
end_of_line = crlf

[*.sln]
indent_style = tab

[*.{csproj,json,md,props,targets}]
indent_size = 2
insert_final_newline = false

[*.DotSettings]
end_of_line = lf
insert_final_newline = false

dotnet_style_qualification_for_event = true:warning
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_method = true:warning
dotnet_style_qualification_for_property = true:warning
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning

[*.cs]
dotnet_analyzer_diagnostic.severity = warning   # By default, all results are treated as warnings

dotnet_diagnostic.IDE0008.severity = none # we want to use var
dotnet_diagnostic.IDE0058.severity = none # using discards like so "_ = SomethingThatDoesASideEffectButAlsoReturnsAValueWeDontNeed()", leads to too much noise
dotnet_diagnostic.IDE0065.severity = none # we want to use file scoped namespaces
dotnet_diagnostic.IDE0160.severity = none # we want to use file scoped namespaces
dotnet_diagnostic.IDE0290.severity = none # primary constructors are no drop-in replacement for single ctor classes. Primary ctor "parameters" are mutable in methods, whereas "normal" ctor parameters can become readonly fields.

dotnet_diagnostic.SA0001.severity = none # we do not generate xml documentation based on code documentation.
dotnet_diagnostic.SA1135.severity = none # we do not use fully qualified directives
dotnet_diagnostic.SA1402.severity = none # files with multiple related classes/records make more sense than spreading them out
dotnet_diagnostic.SA1600.severity = none # documentation on method level does not always make sense
dotnet_diagnostic.SA1601.severity = none # documentation on partial classes does not always make sense
dotnet_diagnostic.SA1602.severity = none # documentation on enums does not always make sense
dotnet_diagnostic.SA1615.severity = none # documentation for all parameters does not always make sense
dotnet_diagnostic.SA1623.severity = none # not all of our documentation is english
dotnet_diagnostic.SA1629.severity = none # not all of our documentation is english
dotnet_diagnostic.SA1633.severity = none # produces unnecessary noise
dotnet_diagnostic.SA1636.severity = none # copyright header noise

dotnet_diagnostic.CA1062.severity = none # We do not always check input parameters
dotnet_diagnostic.CS1591.severity = none # Missing XML comment for publicly visible type or member